@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&family=Young+Serif&display=swap');
.hero-product-card-body{
    height: 34vh;
    width: 25vw;
    display : flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #212121;
    .get-code-button{
        position : absolute;
        border: 2px solid yellowgreen;
        padding: 4px 8px 4px 6px;
        border-radius: 6px;
        border: 1px solid #333;
        font-size : 15px;
        transform: translate(3.4rem,-2.2rem);
        font-family: 'Montserrat', sans-serif;
        background-color: #212121;
        color : white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 6px;
    };     
}
.product-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 34vh;
    width: 25vw;  
    overflow: hidden;
    background-color: white;
}


a{
    text-decoration: none;
}